/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */

.ui-content button {
  padding: 0.5em 2em;
  border-radius: 8px;
  color: #fff;
  background-color: #1976d2;
  font-size: 1em;
  border: 0;
  cursor: pointer;
}
